@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

.form-container{border: 1px solid #ffffff; padding: 30px 60px; margin-top: 1vh;}
body.login
{
	background-image: url(university.jpg);
}
body.signup
{
	background-image: url(university.jpg);
	font-family: 'Roboto', sans-serif;
	color:#333;
	line-height: 22px;	
}
body.updateprofile
{
  background-image: url(windows.jpg);
  font-family: 'Roboto', sans-serif;
  color:#333;
  line-height: 22px;  
}
body.dashboard
{
    background-image: url(geeky.jpg);
    font-family: 'Roboto', sans-serif;
    color:#333;
    line-height: 22px;  
}
body.dashboard_teacher
{
    background-image: url(geeky2.jpg);
    font-family: 'Roboto', sans-serif;
    color:#333;
    line-height: 22px;  
}
body.courseFeedbackTeacher
{
    background-image: url(laptop.jpg);
    font-family: 'Roboto', sans-serif;
    color:#333;
    line-height: 22px;  
}
body.courseFeedback
{
    background-image: url(laptop.jpg);
    font-family: 'Roboto', sans-serif;
    color:#333;
    line-height: 22px;  
}
body.boutus
{
    background-image: url(iiita.jpg);
    font-family: 'Roboto', sans-serif;
    color:#333;
    line-height: 22px;  
}
body.ccontactus
{
    background-image: url(laptop.jpg);
    font-family: 'Roboto', sans-serif;
    color:#333;
    line-height: 22px;  
}
.redtext {
        color: red;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 200;
	color:#111;
	margin-top:5px;
	margin-bottom:5px;
}
h1, h2, h3 {
	text-transform:uppercase;
}

input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=1);    
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}
.control-label {
    color: white;
}
.yel
 { color: #111; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }

.container1 {
    width:80%;
    text-align:center;
    margin-top: 50px;
}

.left1{
    margin-left: 320px;
    float:left;
    width:100px;
}

.center1 {
    display: inline-block;
    margin:0 auto;
    width:100px;
}

.right1 {
    float:right;
    width:100px;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
select {
  margin: 50px;
  border: 1px solid #111;
  background: transparent;
  width: 200px;
  padding: 5px 35px 5px 5px;
  font-size: 50px;
  border: 1px solid #ccc;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}

.centered {
    position: absolute;
    top: 80%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.centered2 {
    position: absolute;
    top: 80%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.btnWithText {
    position: relative;
    text-align: center;
}
form .stars {
  background: url("stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}