	
	<div style="display: none" id="AnsDiv1" align='center' style="margin-top: 400px;">
			<br>
			<text style="font-size: 30px; margin-left: 50px; margin-top: 100px;"> Student feedback <%= course1 %></text> 
			<br>
			<button type="submit" class="w3-button w3-blue"  id="fdaq1">Get Feedback of Ques. 1 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdaq2">Get Feedback of Ques. 2 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdaq3">Get Feedback of Ques. 3 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdaq4">Get Feedback of Ques. 4 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdaq5">Get Feedback of Ques. 5 </button>
	</div>

	<div style="display: none" id="AnsDiv2" align="center" style="margin-top: 400px;">
			<br>
			<text style="font-size: 30px; margin-left: 50px; margin-bottom: 20px;"> Student feedback  <%= course2 %></text> 
			<br>
			<button type="submit" class="w3-button w3-blue"  id="fdbq1">Get Feedback of Ques. 1 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdbq2">Get Feedback of Ques. 2 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdbq3">Get Feedback of Ques. 3 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdbq4">Get Feedback of Ques. 4 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdbq5">Get Feedback of Ques. 5 </button>
	</div>

	<div style="display: none" id="AnsDiv3" align='center' style="margin-top: 400px;">
			<br>
			<text style="font-size: 30px; margin-left: 50px; margin-top: 100px;"> Teacher feedback  <%= course1 %></text> 
			<br>
			<button type="submit" class="w3-button w3-blue"  id="fdcq1">Get Feedback of Ques. 1 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdcq2">Get Feedback of Ques. 2 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdcq3">Get Feedback of Ques. 3 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdcq4">Get Feedback of Ques. 4 </button>
			<button type="submit" class="w3-button w3-blue"  id="fdcq5">Get Feedback of Ques. 5 </button>
	</div>

	<div style="display: none" id="AnsDiv4" align="center" style="margin-top: 400px;">
			<br>
			<text style="font-size: 30px; margin-left: 50px; margin-bottom: 20px;">  Teacher feedback  <%= course2 %></text> 
			<br>
			<button type="submit" class="w3-button w3-blue"  id="fddq1">Get Feedback of Ques. 1 </button>
			<button type="submit" class="w3-button w3-blue"  id="fddq2">Get Feedback of Ques. 2 </button>
			<button type="submit" class="w3-button w3-blue"  id="fddq3">Get Feedback of Ques. 3 </button>
			<button type="submit" class="w3-button w3-blue"  id="fddq4">Get Feedback of Ques. 4 </button>
			<button type="submit" class="w3-button w3-blue"  id="fddq5">Get Feedback of Ques. 5 </button>
	</div>
