<form class="form-container" action='/fillCourses' method="post">
    <select name="emailid">
    <option value = <%= emailid %> > <%= emailid %></option>
    </select>

		<label>Current Courses</label>
		<select name="CurrentCourse1">
    	<option value="SMAT">SMAT</option>
    	<option value="ITP">ITP</option>
    	<option value="ITC">ITC</option>
    	<option value="IDST">IDST</option>
      <option value="EDEL">EDEL</option>
      <option value="ICOA">ICOA</option>
      <option value="SPAS">SPAS</option>
      <option value="IDMA">IDMA</option>
  		</select>

  		<select name="CurrentCourse2">
      <option value="SMAT">SMAT</option>
      <option value="ITP">ITP</option>
      <option value="ITC">ITC</option>
      <option value="IDST">IDST</option>
      <option value="EDEL">EDEL</option>
      <option value="ICOA">ICOA</option>
      <option value="SPAS">SPAS</option>
      <option value="IDMA">IDMA</option>
      </select>

		<button type="submit" class="btn btn-primary">Submit</button>
</form>